extends layout

block content
  h1 MC-Watch
  p Instance: #{awsStatus.Name}
  if awsStatus.Name === "stopped"
    form(action="/", method="post")
      input(type="submit" value="Start")
  p Minecraft: #{mcStatus ? 'online (' + mcStatus.players.length + '/' + mcStatus.maxplayers + '): ' + mcStatus.players.map((p) => p.name).join(', ') + ( count ? ' and empty for ' + count + ' minutes' : '' ) : 'offline'}
  <h5>Players Stats</h5>
  <table>
    <tr>
      <th>Name</th>
      <th>Play Time</th>
    </tr>
    each ps in playersStatus
      <tr>
        <td>#{ps.player}</td>
        <td>#{humanizeDuration(ps.stats['stat.playOneMinute']*60, { units: ['d', 'h', 'm'], round: true, language: 'pt' })}</td>
      </tr>
  </table>

